<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="animated fadeIn">

  <nav class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "#{icon('fa fa-rebel')} Awesome Answers!".html_safe, questions_path, class: "navbar-brand", id: "brand" %>
  </nav>
  <div id="nav-under"> 
    <ul class="nav nav-pills">

      <li>
        <%= link_to "Home", root_path%>
      </li>
      <li>
        <%= link_to "FAQ", faq_path %>
      </li>
      <li>
        <%= link_to "New Question", new_question_path %>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <% if flash[:notice] %>  
      <p class="alert alert-success"><%= flash[:notice] %></p>
      <% elsif flash[:alert] %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
